* {
    margin: 0;
    padding: 0;
}

.hotel-name {
    font-family: 'Righteous', cursive;
}

.carousel-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: .5;
}

.slider-section img {
    height: 87vh;
    margin: 0;
    /* background-size: cover; */
}

.icon-card {
    background-color: rgb(245, 247, 248);
    border-radius: 30px;
    padding: 10px 0 10px 15px;
    width: 320px;
    /* width: 22%; */
    grid-gap: 5px;
    margin-left: 10px;
}

.hot-card {
    position: relative;
}

.hot {
    position: absolute;
    top: -30px;
    left: 200px;
    font-size: 25px;
    background-color: rgb(238, 29, 29);
    padding: 10px 20px;
    color: white;
    border-radius: 50%;
    font-weight: bold;
}

.icon i {
    background-color: rgb(230, 231, 248);
    border-radius: 50%;
    color: rgb(15, 128, 228);
    font-size: 20px;
    margin-top: 5px;
}

.icon span {
    font-size: 18px;
    margin: 5px;
    color: #444;
}


/* footer */

.footer-section .playstore {
    height: 80px;
    width: 200px;
}

.footer-h4 h4 {
    position: relative;
    top: 200px;
}


/* responsive section */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .com-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icon-card {
        background-color: rgb(193, 195, 196);
        width: 85%;
    }
    .footer-h4 h4 {
        position: relative;
        top: 3px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media (min-width: 601px) and (max-width: 992px) {
    .com-card {
        display: flex;
        justify-content: center;
    }
    .icon-card {
        background-color: rgb(193, 195, 196);
        width: 45%;
        margin-left: 30px;
    }
    .footer-h4 h4 {
        position: relative;
        top: 2px;
    }
    .question img {
        width: 100%;
    }
}

@media (min-width: 993px) and (max-width: 1392px) {
    .com-card {
        display: flex;
        justify-content: center;
    }
    .icon-card {
        background-color: rgb(193, 195, 196);
        width: 30%;
        margin-left: 30px;
    }
    .hot-card {
        display: none;
    }
    .question img {
        width: 100%;
        margin-left: 5%;
    }
}